
@media only screen and (max-width : 1920px) { /* CSS ������� */ }
@media only screen and (max-width : 1680px) {.wrap__title{
    font-size:60px;
}}

@media only screen and (max-width : 1024px) {.wrap__title{
    font-size:65px;
}}
@media only screen and (max-width : 800px)  {.wrap__title{
    font-size:55px;
}}
@media only screen and (max-width : 768px)  {.wrap__title{
    font-size:50px;
}}
@media only screen and (max-width : 600px)  {.wrap__title{
    font-size:45px;
}}
@media only screen and (max-width : 533px)  {.wrap__title{
    font-size:40px;
}}
@media only screen and (max-width : 360px)  {.wrap__title{
    font-size:35px;
}}

@media only screen and (max-width : 240px)  {.wrap__title{
    font-size:20px;
}}
@media only screen and (max-width : 176px)  {.wrap__title{
    font-size:10px;
}}


@media all and (orientation: landscape) {
  /* CSS ������� ��� ���������� � ��������� ������ */
}

@media all and (orientation: portrait) {
   /* CSS ������� ��� ���������� � ���������� ������ */
}